@import "fonts"
@import "vars"
@import "vars2"

body
    font-family: $default-font
    
.container
    width: 100%
    padding-right: 15px
    padding-left: 15px
    margin-right: auto
    margin-left: auto

@import "media" // Always at the end
