// @import "fonts"
// @import "vars"
// @import "vars2"

html 
	font-family: 'PT Sans', sans-serif 
	font-size: 16px 
* 
	margin: 0 
	padding: 0 
.fa, .fas 
	padding-left: 5px 
a 
	text-decoration: none 
	color: #007ea7

@import "../pug/modules/header/new-header"	    
// @import "../pug/modules/header/header"
@import "../pug/modules/menu/menu"
@import "../pug/modules/carusel/carusel"
@import "../pug/modules/triblock/triblock"

//import "media" // Always at the end
