doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='description', content='Сибирский Компьютер - Если Вам нужен ремонт компьютера или ноутбука, настройка или установка программного обеспечения, операционной системы, офиса, антивируса')
    meta(name='Keywords', content='ПК, Ноутбук, Смартфон, Планшет, ремонт, настйрока, модернизация, установка программного обеспечения, операционной системы, офиса, антивируса')
    link(rel='icon', href='favicon.ico')
    title
        | Сибирский Компьютер - Ремонт, Настройка и Модернизация Вашего ПК, Ноутбуку и другой техники
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css', integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')