include modules/head/head.pug

body
    //- include modules/header/header.pug
    include modules/header/header
    .container
        //- include _layouts/home.pug
        include modules/box-01/box-01.pug

