include modules/head/head.pug

body
    .container
        h1 Pug - node templat s ds
        h2 Title h2
        p Bla bla bla
        include _layouts/home.pug
        include modules/box-01/box-01.pug

