include modules/head/head.pug

body
    //- include modules/header/header.pug
    include modules/header/header
    include modules/menu/menu
    include modules/carusel/carusel
    include modules/nextblock/nextblock
    //.container
        //- include _layouts/home.pug
        include modules/box-01/box-01.pug

