include modules/head/head.pug

body
    include modules/header/new-header
    //- include modules/header/header
    include modules/menu/menu
    include modules/carusel/carusel
    include modules/triblock/triblock
