.wrpNextBlock
	.containerNextBlock
		.zagolovok
			span
				i.fas.fa-angle-double-right
				| Услуги
		.triBlocka
			.block
				.inBlockB
					a(href='services.html')
						img.animate1(src='img/preferences-system.png', alt='Ремонт')
					h1 Ремонт
					p Необходим ремонт персонального компьютера, мы готовы прийти на помощь.
			.block
				.inBlockB
					a(href='services.html')
						img.animate1(src='img/go-up.png', alt='Модернизация')
					h1 Модернизация
					p Необходимо модернизировать персональный компьютер, мы готовы прийти на помощь.
			.block
				.inBlockB
					a(href='#')
						img.animate1(src='img/utilities-system-monitor.png', alt='HTML tutorialДиагностика')
					h1 Диагностика
					p
						| Необходим провести диагностику персонального компьютера, мы готовы прийти на помощь.