.wrapHead 
	width: 100% 
	margin: 0 auto 
.container 
	width: 1110px 
	padding: 0 10px 
	margin: 0 auto 
.headLogo 
	width: 100% 
	height: 100px 
.left 
	img 
		width: 360px 
		height: 76px 
		float: left 
		margin-top: 12px 
.right 
	display: block 
	width: 260px 
	height: 76px 
	text-align: right 
	float: right 
	margin-top: 12px 
	strong 
		display: block 
		color: #007ea7 
		text-transform: uppercase 
		font-weight: bold 
		font-size: 20px 
	small 
		font-size: 14px 
.fa-phone-square 
	&:before 
		content: "\f098" 
		padding-right: 20px 

@media (min-width: 767px) and (max-width: 1199.98px)
    .container
        width: 100%
        padding: 0
        margin: 0
    .left 
        margin-left: 10px
    .right
        margin-right: 10px


@media (max-width: 767.98px)
    .container
        width: 100%
        padding: 0
        margin: 0
    .headLogo 
        height: 100% 
        padding-bottom: 50px 
    .left 
        width: 100% 
        height: 76px 
        float: none 
        margin: 0 auto 
        img 
            width: 100%
    .right 
        text-align: center 
        width: 260px 
        height: 76px 
        float: none 
        margin: 0 auto 
