header
	.wrapHead
		.container
			.headLogo
				#animeLogo
					.left
						img(src='img/sibcomp.svg', alt='Smiley face')
				.right
					p Наш телефон:
					strong
						i.fas.fa-phone-square
						| 8 (923) 390 36 66
					small c 9:00 до 21:00