.header
    .container
        .container-flex
            .logo
                img(src='img/sibcomp.svg', alt='Smiley face')
            .tel
                p Наш телефон:
                strong
                    i.fas.fa-phone-square 
                    | 8 (923) 390 36 66
                p.small c 9:00 до 21:00