.wrapHead 
	width: 100% 
	margin: 0 auto

.headLogo 
	width: 100% 
	height: 100px

.left 
	img 
		width: 360px 
		height: 76px 
		float: left 
		margin-top: 12px

.right 
	display: block 
	width: 260px 
	height: 76px 
	text-align: right 
	float: right 
	margin-top: 12px

.right 
	strong 
		display: block 
		color: #007ea7 
		text-transform: uppercase 
		font-weight: bold 
		font-size: 20px 

.right 
	small 
		font-size: 14px

.fa-phone-square 
	&:before 
		content: "\f098" 
		padding-right: 20px 