.wrpNextBlock
  width: 100%
  background-color: #eeeeee

.containerNextBlock
    max-width: 1110px
    padding-right: 15px
    padding-left: 15px
    margin-right: auto
    margin-left: auto
    overflow: hidden

.zagolovok 
	padding-top: 40px 
	padding-bottom: 20px 
	span 
		font-size: 32px 


// @media (min-width: 767px) and (max-width: 1199.98px)

// @media (max-width: 767.98px)
