.warp
    background-color: #007ea7
    height: 500px
    z-index: -1
    

.car-flex
    display: flex
    justify-content: center


.car-left
    display: flex
    flex-direction: column
    align-self: center


@media (max-width: 576px) // 576px
    .container
        max-width: 100%
    .warp
        background-color: #172C33

@media (max-width: 768px) // 768px
    .container
        max-width: 100%
    .warp
        position: absolute
        // background-color: #172C33
    .car-flex
        flex-direction: column 

@media (max-width: 992px) // 992px
    .container
        max-width: 100%  

@media (max-width: 1200px) // 1200px
    .container
        max-width: 100%  