.wrapcarusel
    .container
        .car-flex
            .car-left
                h1 ДИАГНОСТИКА И РЕМОНТ ВАШЕГО КОМПЬЮТЕРА
                p Если Вам нужен ремонт компьютера или ноутбука, настройка или установка программного обеспечения, обращайтесь.
            .car-right
                img(src="/img/sibcomp_carusel3.jpg", alt="")