.warp
    .container
        .car-flex
            .car-left
                p ДИАГНОСТИКА И РЕМОНТ ВАШЕГО КОМПЬЮТЕРА
                p Если Вам нужен ремонт компьютера или ноутбука, настройка или установка программного обеспечения, обращайтесь.
            .car-right
                img(src="/img/sibcomp_carusel2.jpg", alt="")