.wrpCarusel
    .container
        .wrpCarusel-flex
            .contentL
                h1 Диагностика и Ремонт Вашего Компьютера
                p Если Вам нужен ремонт компьютера или ноутбука, настройка или установка программного обеспечения, обращайтесь.
            .contentR
                img(src='img/sibcomp_carusel2.jpg', alt='SibComp Hardware')