.wrpCarusel
	.container
		.bigContLeft
			.contentBig
				h1 Диагностика и Ремонт Вашего Компьютера
				p
					| Если Вам нужен ремонт компьютера или ноутбука, настройка или установка программного обеспечения, обращайтесь.
		.bigContRight
			img(src='img/sibcomp_carusel2.jpg', alt='SibComp Hardware')
