.wrapcarusel
    background-color: #007ea7
    height: 100%
    z-index: -1
    

.car-flex
    display: flex
    justify-content: center


.car-left
    display: flex
    flex-direction: column
    align-self: center
    color: white
    h1
        text-shadow: 2px 2px #222
        // letter-spacing: 1px        
        // font-size: 34px
        // align-self: center
    p
        margin-top: 18px
        // align-self: center


.car-right img
    margin-top: 8px

@media (max-width: 576px) // 576px
    .container
        max-width: 100%
        
    .car-left
        h1
            // margin-top: 8px
            // word-spacing: 10px
            // text-align: center
        p
            margin-top: 18px
            text-align: center   
    // .warp
        // background-color: #172C33

@media (max-width: 768px) // 768px
    .container
        max-width: 100%
    .warp
        position: absolute
        // background-color: #172C33
    .car-flex
        flex-direction: column-reverse

    .car-left
        h1
            margin-top: 16px
            word-spacing: 10px
            text-align: center
        p
            margin-top: 18px
            text-align: center            

    .car-right
        display: flex
        justify-content: center
    .car-right img
        margin-top: 8px
        max-width: 60vw
        // width: 60vw
        max-height: 30vh
        // margin: 0
        

@media (max-width: 992px) // 992px
    .container
        max-width: 100%  

@media (max-width: 1200px) // 1200px
    .container
        max-width: 100%  